body {
	background-color: #606060;
	color: #f0f0f0;
}
#header {
	min-height: 50px;
	background-color: #414141;
}
#content {
	min-height: 500px;
	background: #4141411a;
	padding-top: 10px;
}
.btn:hover {
	color: #f0f0f0;
}
.btn-group {
	border-color: #f0f0f0;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}
.panel {
	margin-top: 10px;
}
.badge {
	background-color: #414141;
}
.list-group-item {
	background-color: #e8e8e7;
	color: #2e3436;
}

.list-group-item>.badge {
  color: #f0f0f0;
}

.modal-dialog {
	padding: 10px;
	background-color: #414141;
}

.form-control {
	background-color: #e8e8e7;
}

.modal-body {
	background-color: #414141;
}

.modal-footer {
	background-color: #414141;
}