body {
	background-color: #606060;
	color: #f0f0f0;
}
#header {
	min-height: 50px;
	background-color: #414141;
}
#content {
	min-height: 500px;
	background: #4141411a;
	padding-top: 60px;
	padding-bottom: 20px;
}
.btn:hover {
	color: #f0f0f0;
}
.btn-group {
	border-color: #f0f0f0;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}
.panel {
	margin-top: 10px;
}
.list-group-item {
	background-color: #e8e8e7;
	color: #2e3436;
}
.modal-dialog {
	padding: 10px;
	background-color: #414141;
}
.form-control {
	background-color: #e8e8e7;
}
.modal-body {
	background-color: #414141;
}
.modal-footer {
	background-color: #414141;
}
.label-primary {
	background-color: #5c5c5c;
    color: #f0f0f0;
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 4px;
}
.progress>div {
	height: 31px;
}
.collapse-btn {
	padding-top: 0;
}
.poll-content {
	min-height: 50px;
	margin-top: 10px;
}
.poll-description {
	margin-bottom: 10px;
}
.row {
	margin-bottom: 5px;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}