<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom fonts for this template -->
    <link href="css/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Voting Server</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
        <div class="container">
            <a class="navbar-brand" href="index.html">Active polls</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <input class="form-control" id="search" placeholder="Search in title" type="text" autocomplete="off"></input>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button">Archive polls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" data-toggle="modal" data-target="#create-modal">Add poll</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <h4>Created polls <span id="polls-count" class="badge badge-dark">?</span>
                        </h4>
                        </div>
                    </div>
                    <div id="polls-panel" class="panel-body">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new poll</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" id="modal-poll-title" class="form-control" placeholder="Sample Text" aria-label="Title" aria-describedby="title-addon">
                        <div class="input-group-append">
                            <span class="input-group-text" id="title-addon">Title</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <textarea id="modal-poll-description" class="form-control" aria-label="With textarea"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text">Description</span>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 15px;">
                        <input class="form-control" id="end-date" type="date" title="End date">
                        <input class="form-control" id="end-time" type="time" title="End time">
                        <div class="input-group-append">
                            <span class="input-group-text">End time</span>
                        </div>
                    </div>
                    <div class="modal-options-list">
                        <p>Options:</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn" disabled="disabled">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control modal-poll-option" placeholder="Option text" aria-label="Option field">
                        </div>
                    </div>
                    <button id="add-option-btn" class="btn btn-success btn-block"><i class="fa fa-plus"></i></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="poll-create-btn" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; 2018</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js" defer></script>
</body>

</html>