<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <title>Voting Server</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="get-btn" type="button" class="btn btn-default">Get blocks</button>
                    <button id="chk-btn" type="button" class="btn btn-default">Check blocks</button>
                    <button id="crt-btn" type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-modal-sm">Create block</button>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Current blocks <span id="blocks-count" class="badge">?</span>
                            </h4></div>
                    <div id="blocks-panel" class="panel-body">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" style="display: none;" class="modal fade bs-modal-sm" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="text" id="input-title" class="form-control" placeholder="Title">
                        <br/>
                        <input type="text" id="input-vote" class="form-control" placeholder="Vote for">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" id="create-block-btn" class="btn btn-sm" data-dismiss="modal">Vote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src='js/main.js' defer></script>
</body>

</html>